flask==3.0.3
flask_redis==0.4.0
flask_redis_sentinel==2.0.1
flask_bootstrap==3.3.7.1
async-timeout==4.0.3
blinker==1.8.1
click==8.1.7
dominate==2.9.1
importlib_metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pip==23.0.1
redis==5.0.4
Redis-Sentinel-Url==1.0.1
setuptools==57.5.0
six==1.16.0
visitor==0.1.3
Werkzeug==3.0.3
wheel==0.43.0
zipp==3.18.1
