{% extends "bootstrap/base.html" %}
{% block title %}Redis Web-Based Interface{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript src="{{ url_for('static', filename='js/redis.js') }}"></script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/mystyle.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="content">
    <h1>Redis CLI</h1>
  </div>
  <div class="panel panel-primary">
      <div class="panel-heading">Connection</div>
      <div class="panel-body">
         {% for key, value in conninfo %}
          <div class="row">
              <div class="col-xs-3">{{ key }}</div>
            <div class="col-xs-6">{{ value }}</div>
          </div>
         {% endfor %}
      </div>
  </div>
  <div class="panel panel-primary">
      <div class="panel-heading">Redis CLI</div>
      <div class="panel-body">
          <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary" id="execute">Go!</button>
            </span>
            <input type="text" class="form-control" id="command">
          </div>
          <p>
          <div class="content">
              <pre id="response"></pre>
          </div>
      </div>
  </div>
    <div class="panel panel-primary">
          <div class="panel-heading">Sentinel</div>
          <div class="panel-body">
              <div class="btn-group" role="group" aria-label="Masters">
                <button type="button" class="btn btn-secondary" id="masters">Masters</button>
              </div>
              <p>
              <div class="content">
                  <pre id="masters_response"></pre>
              </div>
          </div>
      </div>
    <div class="panel panel-primary">
          <div class="panel-heading">Memtier Benchmark</div>
          <div class="panel-body">
              <div class="btn-group" role="group" aria-label="memtier">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" id="memtier_start">Start</button>
                    <button class="btn btn-secondary" id="memtier_poll">Poll</button>
                    <button class="btn btn-secondary" id="memtier_stop">Stop</button>
                </span>
                <input type="text" value="-d 100 -n 20000000 --clients=10 --pipeline=4 --ratio=1:1" class="form-control" id="arguments">
              </div>
              <p>
              <div class="content-flow">
                  <pre id="memtier_response"></pre>
              </div>
          </div>
      </div>
</div>
{% endblock %}
